<h1>APP INDEX YA</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

 <% entry1 = BlogEntry.new("Title Here", :happy, "lorem ipsum full text") %>
 <% entry2 = BlogEntry.new("Titlsde Here", :hdappy, "lorem asdipsum full text") %>

  <%= entry1 %>
  <%= entry2 %>
